@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face {
    font-family: Archivo; /* Имя шрифта */
    src: url('./fonts/Archivo-Regular.ttf');
    url('./fonts/Archivo-Bold.ttf')  format('truetype'),
    url('./fonts/Archivo-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: GREY; /* Имя шрифта */
    src: url('./fonts/GREY.ttf');
    font-weight: normal;
    font-style: normal;
}

a, a:hover {
    text-decoration: none;
}

.background {
    height: 100vh;
    background-color: #929292;
    background-image: -webkit-linear-gradient(180deg, #929292 25%, #000000 100%);
    background-image: -moz-linear-gradient(180deg, #929292 25%, #000000 100%);
    background-image: -o-linear-gradient(180deg, #929292 25%, #000000 100%);
    background-image: linear-gradient(180deg, #929292 25%, #000000 100%);
    background-repeat: no-repeat;
}

.headline-center {
    margin-top: 6%;
}

.header-boot {
    font-size: 100px;
    font-family: "GREY", serif;
    letter-spacing: 5px;
}

.font-heading {
    font-family: "Archivo", sans-serif;
    font-size: 30px;
}

.polygon img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 44%;
    height: 400px;
    width: auto;
}


body {
    background-color: black !important;
    overflow-x: hidden;
}



/* TODO: rename class size */
.size{
     height: 10vh;
}

.size {
    font-size: 12pt;
}

.headline {
    font-size: 24pt;
}


a:hover {
    color: red;
}


.text-bottom{
    position: absolute;
    bottom: 20px;

.step {
    width: 300px;
    border-bottom: 2px solid white;
    font-weight: normal;
    padding-bottom: 5px;
}

.step:hover  {
    text-decoration: none;
    color: grey;
    border-bottom: 2px solid grey;
    transition: 0.2s;
}

.steps {
    position: absolute;
    top: 78vh;
}

.to-result a span {
    display: inline-block;
}



.checkmark{
    width: 40px;
    height: 40px;
}


.checkmark:hover  {
    content: url("../img/Group.svg");
}

.logo-menu{
    width: 5%;
}

/* FULL SCREEN MODAL STYLES
   -------------------------------------------------- */
.fullscreen .modal-dialog {
    margin: 0 0 0 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    color: #333;
}

.fullscreen .modal-content {
    min-height: 100vh;
    border-radius: 0;
    color: #333;
    background: rgba(255, 255, 255, 0.97);
    overflow:auto;
}


.fullscreen .modal-body a {
    color: #333;
}

@media (max-width: 480px){
    .fullscreen .modal-body ul {
        padding: 30px 0 0 0;
        overflow: auto;
    }

    .fullscreen .modal-body li {
        padding: 4px 0 4px 0 ;
    }

    .fullscreen .modal-body a {
        color: #333;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.bars {
    color: white;
    width: 30px;
    height: 50px;
    font-size: 30px;
}


.menu-list {
    font-size: 11pt;
}

.menu-item{
    padding-left: 50px;
    padding-right: 0;
    margin: 50px 20px 20px;
}