@font-face {
    font-family: Archivo; /* Имя шрифта */
    src: url('./fonts/Archivo-Regular.ttf');
    url('./fonts/Archivo-Bold.ttf')  format('truetype'),
    url('./fonts/Archivo-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: GREY; /* Имя шрифта */
    src: url('./fonts/GREY.ttf');
    font-weight: normal;
    font-style: normal;
}

a, a:hover {
    text-decoration: none;
}

.background {
    height: 100vh;
    background-color: #929292;
    background-image: -webkit-linear-gradient(180deg, #929292 25%, #000000 100%);
    background-image: -moz-linear-gradient(180deg, #929292 25%, #000000 100%);
    background-image: -o-linear-gradient(180deg, #929292 25%, #000000 100%);
    background-image: linear-gradient(180deg, #929292 25%, #000000 100%);
    background-repeat: no-repeat;
}

.headline-center {
    margin-top: 6%;
}

.header-boot {
    font-size: 100px;
    font-family: "GREY", serif;
    letter-spacing: 5px;
}

.font-heading {
    font-family: "Archivo", sans-serif;
    font-size: 30px;
}

.polygon img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    height: 400px;
    width: auto;
}

.step {
    width: 300px;
    border-bottom: 2px solid white;
    font-weight: normal;
    padding-bottom: 5px;
}

.step:hover  {
    text-decoration: none;
    color: grey;
    border-bottom: 2px solid grey;
    transition: 0.2s;
}

.steps {
    position: absolute;
    top: 78vh;
}

.to-result a span {
    display: inline-block;
}

.size {
    font-size: 12pt;
}

.checkmark{
    width: 40px;
    height: 40px;
}
